version: '3.8'
services:
  test-backend:
    image: maven:3.9.6-eclipse-temurin-21
    volumes:
      - .:/usr/src/app
      - maven_repo:/root/.m2
    working_dir: /usr/src/app
    command: mvn test -Dspring.profiles.active=test
    dns:
      - 223.5.5.5
      - 8.8.8.8

volumes:
  maven_repo:
