server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:tinyhis;DB_CLOSE_DELAY=-1;MODE=MYSQL
    username: sa
    password: 
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  type-aliases-package: com.tinyhis.entity
  configuration:
    map-underscore-to-camel-case: true

jwt:
  secret: TinyHISSecretKeyForJWTAuthentication2024VeryLongSecretKey
  expiration: 86400000

hospital:
  latitude: 39.9042
  longitude: 116.4074
  check-in-radius: 500

logging:
  level:
    com.tinyhis: DEBUG
